body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    
    margin:0;
    background-color: rgb(0, 0, 0);

}


/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    color: crimson;
}

/* Header **/
header{
    background:rgba(206, 3, 3, 0.919)
    padding;top:30px;
    min-height:70px;
    border-bottom:#8b0000 4px solid;

}

header a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}

header u:{
    margin:0;
    padding:0;
}

header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{ 
    float:right;
    margin-top:10px;

}

header .hightlight, header .current a{
    color:#603a9a68;
    font-weight-bold;
}
